* {
  box-sizing: border-box;
}

.app {
  display: flex;
  background: #4e4e4e;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.app .btn-primary {
  background-color: rgb(235, 0, 141);
}

.app .btn-primary:hover, .app .btn-primary:focus {
  background-color: rgb(210, 0, 126);
}
