.converter {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 300px;
  min-height: 160px;
  align-items: center;
  justify-content: center;
}

.converter-top,
.converter-bottom {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.converter-bottom {
  background-color: #f5f5f5;
  padding-top: 40px;
}

.converter .btn-exchange {
  margin-top: 20px;
}

.converter .btn-switch, .converter .exhange-rate {
  position: absolute;
  left: 20px;
  bottom: 0;
  transform: translateY(50%);
  z-index: 10;
  border: 2px solid #f5f5f5;
  background: #fff;
  color: rgb(0, 117, 235);
}

.converter .btn-switch:hover, .converter .btn-switch:focus {
  background-color: #c5c5c5;
}

.converter .exhange-rate {
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  font-size: 13px;
  line-height: 1;
  padding: 5px;
  height: 28px;
  min-width: 140px;
  text-align: center;
  border-radius: 14px;
}
